<H1>Industrial Automation Job Search</H1>
<div id='header'>
    <button onclick="window.location='/';" type=“button” id='home-btn'><a href='/'>Home</a></button>
    <button onclick="window.location='/jobsearch';"type=“button” id='jobsearch-btn'><a href='/jobsearch'>Job Search</a></button>
</div>
<div id='intro'>
<br>
<br>
<p>
   Life, in and of itself, is inescapably difficult at times. All of our journey's will, to some greater or lesser extent, 
   expose us to both terrible and wonderful experiences. This is to say nothing of the effort, persistence, dedication, and 
   self-sacrifice required to become expert in the field of work we are most passionate about while simultaneously navigating the pitfalls of life. 
</p>
<br>
<p>
    Mindful of this, I think it is really important to be both passionate about our work and confident that the work we do truly improves 
    the lives of our fellow humans. I believe it is both important for humanity and to a more personal degree, important for our individual 
    health and success: serving oneself and pursuing material desires can only motivate a person so long before leaving us feeling devoid of purpose.   
</p>
<br>
<p>
   I think the bulk of the work being produced by the giants of our industry (i.e. FAANG) is no longer markedly improving our lived experience; 
   that a forceful argument can be made that social media and the revenue sources keeping the monoliths afloat now produces a net negative to the world.  
</p>
<br>
<p>
    To that end, I encourage those with backgrounds in Computer Science, Software Development, and general STEM to pursue industrial technology jobs 
    where you can choose to work for a company that makes real life things people actually need.
</p>
<br>
<br>
